#header {
    text-align: center;
}

#wrapper {
    
}

.card {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid black;
    width: 25%;
    height: 150px;
    background-color: #707070;
}

.section-title {
    float: right;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    height: 30px;
    font-size: 20px;
}

#section-1 {
    background-color: #8db596;
}

#section-2 {
    background-color: #92817a;
}

#section-3 {
    background-color: #bedbbb;
}

#card-content {
    padding: 25px 10px 10px 10px;
    font-size: 16px;
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #card-1{
        float: left;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid black;
        width: 43%;
        height: 150px;
    }

    #card-2 {
        float: right;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid black;
        width: 43%;
        height: 150px; 
    }
    
    #card-3 {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 30px;
        border: 1px solid black;
        width: 94%;
        height: 150px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        float: left;
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid black;
        width: 94%;
        height: 150px;
    }
}